In [1]:
import pandas as pd
data_set = pd.DataFrame()
for i in range(19):
    df = pd.read_csv(filepath_or_buffer='./all_2018/'+str(i)+'.csv',encoding='gbk')
    df = df[df['year']==2018]
    df = df[(df['sex_id']!=3)&(df['age_id']!=22)]
    data_set = pd.concat([data_set,df])
data_set

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,rei_id,rei_name,metric_id,metric_name,year,val,upper,lower
158174,4,YLLs (Years of Life Lost),6,China,1,Male,10,25-29 years,409,Non-communicable diseases,119,Diet low in fiber,1,Number,2018,29061.319560,57698.550082,6665.032485
158175,4,YLLs (Years of Life Lost),6,China,2,Female,10,25-29 years,409,Non-communicable diseases,119,Diet low in fiber,1,Number,2018,11053.399946,22253.198684,2290.550540
158177,4,YLLs (Years of Life Lost),6,China,1,Male,10,25-29 years,409,Non-communicable diseases,119,Diet low in fiber,2,Percent,2018,0.023321,0.046710,0.005325
158178,4,YLLs (Years of Life Lost),6,China,2,Female,10,25-29 years,409,Non-communicable diseases,119,Diet low in fiber,2,Percent,2018,0.017334,0.032985,0.003868
158180,4,YLLs (Years of Life Lost),6,China,1,Male,10,25-29 years,409,Non-communicable diseases,119,Diet low in fiber,3,Rate,2018,48.345607,95.985711,11.087764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473120,2,DALYs (Disability-Adjusted Life Years),60137,Troms og Finnmark,2,Female,158,<20 years,409,Non-communicable diseases,147,Diet low in calcium,1,Number,2018,0.000000,0.000000,0.000000
473122,2,DALYs (Disability-Adjusted Life Years),60137,Troms og Finnmark,1,Male,158,<20 years,409,Non-communicable diseases,147,Diet low in calcium,2,Percent,2018,0.000000,0.000000,0.000000
473123,2,DALYs (Disability-Adjusted Life Years),60137,Troms og Finnmark,2,Female,158,<20 years,409,Non-communicable diseases,147,Diet low in calcium,2,Percent,2018,0.000000,0.000000,0.000000
473125,2,DALYs (Disability-Adjusted Life Years),60137,Troms og Finnmark,1,Male,158,<20 years,409,Non-communicable diseases,147,Diet low in calcium,3,Rate,2018,0.000000,0.000000,0.000000
473126,2,DALYs (Disability-Adjusted Life Years),60137,Troms og Finnmark,2,Female,158,<20 years,409,Non-communicable diseases,147,Diet low in calcium,3,Rate,2018,0.000000,0.000000,0.000000

In [10]:
data_set = data_set.drop(['cause_id','cause_name'],axis=1)
death_18 = data_set[data_set['measure_id']==1]
death_18.to_csv('death_18.csv',encoding='gbk',index=False)
DALYs_18 = data_set[data_set['measure_id']==2]
DALYs_18.to_csv('DALYs_18.csv',encoding='gbk',index=False)
YLDs_18 = data_set[data_set['measure_id']==3]
YLDs_18.to_csv('YLDs_18.csv',encoding='gbk',index=False)
YLLs_18 = data_set[data_set['measure_id']==4]
YLLs_18.to_csv('YLLs_18.csv',encoding='gbk',index=False)